.form-container {
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-margin));
  margin: auto;
}

.form-field {
  display: flex;
  justify-content: left;
  margin: calc(var(--main-margin));
  gap: calc(var(--main-margin));
}

.submit-button {
  display: flex;
  margin: calc(var(--main-margin));
}