.CertificateCard {
    background-color: #ffffffdb;
    width: 300px;
    height: 201px;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 26px 30px;
    padding-right: 5px;
    display: flex;
    box-shadow: #00000045 1px 1px 10px 1px;
}

.Details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    direction: rtl;
    text-align: center;
    color: #000000e6;
    width: 163px;
}

.Details > .Name {
    font-size: 20px;
    font-weight: bold;
}

.Image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
