.Certificates {
    position: relative;
}

.Certificates > h1 {
    text-align: center;
    color: white;
    font-size: 72px;
    margin: 0;
}

.Certificates > div {
    height: 55vh;
    overflow: auto;
    box-sizing: content-box;
    border: 3px solid #ffffff0f;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
    padding: 12px;
}

/* width */
::-webkit-scrollbar {
    padding: 0;
    width: 5px;
    background-color: #ffffff0f;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff5a;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ffffff5a;
}

.home {
    direction: rtl;
    padding: 12px;
    cursor: pointer;
}
