* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

:root {
  --primary-background: #010409;
  --secondary-background: #0d1117;
  --active-background: #1a212c;
  --secondary-active-background: #19202b;
  --primary-text-color: #c9d1d9;
  --hover-color: #3d4858;
  --hover-text-color: #0080ff;
  --text-color: #ffffff;
}
